/* 태블릿 */
@media screen and (max-width: 768px) {
    .cardGame {
        width: 500px;
        height: 420px;
    }

    .game-alert {
        display: flex;
        flex-direction: column;
        height: 124px;
        line-height: 30px;
        align-items: center;
        min-width: 318px;
    }

    .game-alert div {
        width: 50%;
        margin-bottom: 10px;
    }
}

/* 모바일 */
@media screen and (max-width: 480px) {
    .cardGame {
        width: 90vw;
        height: 80vw;
    }

    .cardGame > h1 {
        font-size: 1.5rem;
    }

    .game-alert {
        width: 20%;
    }
}