@media screen and (max-width : 768px) {
    .item-probability > li {
        height: auto;
    }
}

@media screen and (max-width : 480px) {
    .item-probability li:nth-child(1) p {
        display: flex;
        flex-direction: column;
        gap: 6px;
    }
}