/* 게임 정보 */
.game-info {
    position: relative;
    width: 100%;
    height: 300px;
    top: -30px;
    box-sizing: border-box;
    padding: 20px;
    display: flex;
    justify-content: center;
}

/* 분기 선 */
.game-info > div {
    position: absolute;
    width: 500px;
    height: 30px;
    top: 0px;
    border-top: 2px solid rgba(169, 169, 169, 0.659);
}

.game-info h2 {
    font-size: 2rem;
    font-weight: 600;
}
/* 게임 메뉴 리스트 */
.game-info .game-list {
    position: absolute;
    display: flex;
    justify-content: center;
    width: 100%;
    height: 200px;
    margin: 55px 0 0 0;
}

/* 게임 메뉴 */
#card-game, 
#mole-game {
    position: relative;
    width: 250px;
    height: 200px;
    text-align: center;
    box-sizing: border-box;
    cursor: pointer;
    border-radius: 10px;
    overflow: hidden;
    background-color: rgba(245, 245, 220, 0);
    border: 1px solid black;
    z-index: 2;
}

#card-game:hover > div img,
#mole-game:hover > div img {
    scale: 1.2;
}

#card-game {
    margin-right: 15px;
}

#mole-game {
    margin-left: 15px;
}

#card-game > div,
#mole-game > div {
    width: 100%;
    height: 100px;
    overflow: hidden;
    cursor: pointer;
    background-color: blue;
}

#card-game > div img,
#mole-game > div img {
    position: relative;
    top: -40px;
    width: 210px;
    transition: all .5s ease-in-out;
}

#card-game > p,
#mole-game > p {
    margin: 20px 0 0 0;
    font-size: 1.5rem;
}

@media only screen and (max-width: 650px) {
    .game-info .game-list {
        display: block;
    }

    #card-game, #mole-game {
        margin: 0;
        left: 50%;
        transform: translate(-50%, 0);
    }

    #mole-game {
        margin-top: 20px;
    }

    .game-info > div {
        width: 70%;
        min-width: 212px ;
    }
}